.favorite__city {
	margin-bottom: 8px;
	padding: 8px 16px;
	border: 1px solid #12ace4;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0px 0px 3px 1px rgba(58, 79, 201, 0.514);
}
.favorite__city:first-child {
	margin: 0;
}

.city__information {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.information__name {
	display: flex;
	align-items: center;
	font-size: 20px;
}

.information__icon {
	margin-right: 8px;
	width: 25px;
	border-radius: 4px;
	box-shadow: 0px 0px 2px 1px rgba(181, 182, 182, 0.75);
}

.actions__unfold,
.actions__delete {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.actions__unfold {
	margin-right: 4px;
	color: #4fbdb2;
}

.actions__delete {
	color: #ff9197;
}

.actions__unfold :hover {
	color: #409990;
}

.no-cities {
	padding: 16px;
	border-radius: 8px;
	border: 1px solid #666666;
	background-color: #fff;
}

.no-cities__title {
	margin-bottom: 16px;
}

.no-cities__description {
	font-size: 18px;
	margin-bottom: 16px;
}

.no-cities__list {
	list-style-type: decimal;
	padding-left: 24px;
	font-size: 18px;
}

.no-cities__list-item {
	margin-bottom: 8px;
}

.no-cities__link {
	text-decoration: none;
	color: #5395f7;
}
