.lang__container {
	margin-top: 16px;
	display: flex;
	align-items: center;
	height: 40px;
	border: 1px solid #3aaad3;
	border-radius: 10px;
	background-color: #76d2f4;
	box-shadow: inset 0px 0px 5px -2px rgba(0, 0, 0, 1);
	transition: width 0.5s ease-out;
}

.button__wrapper {
	position: relative;
	display: flex;
	width: 36px;
	height: 22px;
	border-radius: 5px;
	background-size: 100% 100%;
}

.button__gradient {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		rgba(10, 96, 139, 0.22172619047619047) 3%,
		rgba(174, 233, 75, 0.11528361344537819) 11%,
		rgba(0, 212, 255, 0.2329306722689075) 100%
	);
	border: none;
	cursor: pointer;
	touch-action: manipulation;
}

/* .button__wrapper {
	animation: showButton 0.5s ease-out;
}

.button__wrapper:hover {
	box-shadow: 0 0 3px rgba(31, 30, 4, 0.733);
}

.button__wrapper:active {
	animation: pushButton 0.5s ease-out;
}

.button__wrapper-select {
	animation: showButton 0.5s ease-out;
}

.button__wrapper-current {
	animation: showButton 0.3s ease-out;
}

.click {
	animation: clickBtn 0.5s ease-out;
} */

@keyframes showButton {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes clickBtn {
	from {
		transform: scale(0);
		opacity: 0.2;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes pushButton {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(0);
		opacity: 0;
	}
}
