.cards__container {
	position: relative;
	height: fit-content;
}

.city__navigation {
	position: absolute;
	top: -50px;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	border: 1px solid #0bbcfc;
	box-shadow: 0px 3px 28px 0px rgba(32, 160, 245, 0.75);
	list-style-type: none;
	z-index: 2;
}

.city__navigation :first-child {
	border-radius: 4px 4px 0 0;
}

.city__navigation :last-child {
	border-bottom: none;
	border-radius: 0 0 4px 4px;
}

.navigation__item {
	background-color: #ffffff;
	border-bottom: 1px solid #69d6fd;
	box-shadow: inset 0px 0px 3px 1px rgba(181, 182, 182, 0.75);
	animation: appearFromInsideKeyframes 0.2s ease-out;
}

.navigation__item-active {
	display: flex;
	background-color: #b3ebff;
}

.city-link {
	padding: 8px 16px;
	height: 100%;
	width: 100%;
	color: #551a8b;
	display: flex;
	align-items: center;
	border-radius: 4px;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.city-link__icon {
	position: relative;
}

.icon__counter {
	position: absolute;
	top: 11px;
	right: 0;
	font-size: 6px;
	background-color: #b3ebff;
}

.card__wrapper {
	margin-top: 65px;
	padding: 16px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0px 0px 3px 2px rgba(58, 79, 201, 0.514);
}

@media screen and (min-width: 750px) {
	.cards__container {
		position: static;
	}

	.city__navigation {
		position: static;
		display: flex;
		flex-direction: row;
		width: fit-content;
		border: none;
		border-radius: 4px;
		list-style-type: none;
	}

	.navigation__item {
		border: none;
		background-color: #b3ebff;
		box-shadow: 0px 0px 3px 1px rgba(58, 79, 201, 0.514);
	}

	.navigation__item-active {
		position: relative;
		background-color: #ffffff;
		box-shadow: none;
		z-index: 4;
	}

	.navigation__item-active::before {
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		border-radius: 4px 4px 0 0;
		box-shadow: 0px 0px 3px 1px rgba(58, 79, 201, 0.514);
		z-index: -10;
	}

	.navigation__item-active::after {
		content: '';
		position: absolute;
		bottom: -5px;
		left: -3px;
		height: 5px;
		width: calc(100% + 6px);
		background-color: #ffffff;
		z-index: -10;
	}

	.navigation__item-active:first-child::after {
		left: 0;
		width: calc(100% + 3px);
	}

	.card__wrapper {
		margin-top: 0;
		position: relative;
		top: 0;
		border-radius: 0 4px 4px 4px;
		z-index: 3;
	}
}

@keyframes appearFromInsideKeyframes {
	from {
		transform: scale(0.8);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
