.search__container {
	position: relative;
	max-width: 450px;
	width: 100%;
}

.search__input {
	padding: 8px;
	position: relative;
	width: 100%;
	height: 100%;
	border: 2px solid rgb(131, 199, 255);
	border-radius: 6px;
	box-shadow: 0px 3px 28px 0px rgba(32, 160, 245, 0.75),
		inset 0px 0px 3px 0px rgba(181, 182, 182, 0.75);
}

.search__input:focus {
	outline: none;
	border-color: rgb(84, 178, 255);
	background-color: #effaff;
	box-shadow: 0px 3px 28px 0px rgba(32, 160, 245, 0.75),
		inset 0px 0px 3px 1px rgba(181, 182, 182, 0.75);
}

.search__list {
	list-style-type: none;
	position: absolute;
	top: 46px;
	width: 100%;
	border: 2px solid #31c9e4;
	border-radius: 4px;
	box-shadow: 0px 3px 28px 0px rgba(32, 160, 245, 0.75);
	animation: showList 0.4s both;
	z-index: 9;
}

.list__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	font-weight: 400;
	border-bottom: 1px solid rgb(143, 229, 255);
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0px 0px 3px 0px rgba(181, 182, 182, 0.75);
	cursor: pointer;
	animation: appearFromTopKeyframes 0.4s both;
}

.list__items:first-child {
	border-radius: 2px 2px 0 0;
}

.list__items:last-child {
	border-bottom: none;
	border-radius: 0 0 2px 2px;
}

.list__items:hover {
	background-color: #b7ecff;
}

.item__info {
	display: flex;
}

.info__icon {
	width: 25px;
	height: 18px;
	border-radius: 4px;
	box-shadow: 0px 0px 2px 1px rgba(181, 182, 182, 0.75);
	object-fit: cover;
}

.info__name {
	margin-left: 4px;
}

@keyframes appearFromTopKeyframes {
	from {
		transform: translateY(-80%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes showList {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
