.header {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	min-width: 360px;
}

.header__container {
	display: flex;
	align-items: center;
	padding: 8px 32px 8px 67px;

	background-color: rgb(108, 243, 225);
}

.logo {
	margin: 0 auto;
	height: 70px;
	width: 100px;
}

.navigation {
	margin: 0 16px;
}

.link:active {
	color: #f4c905;
}

.link {
	text-decoration: none;
	padding: 0 16px;
	color: #551a8b;
}

.link.active {
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	background-color: #12ace4;
	color: white;
}
