.header {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 360px;
	width: 100%;
}

.header__container {
	margin: 0 16px;
	padding: 16px 32px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #d9f5ff;
}

.logo {
	width: 80px;
	height: 55px;
}

.navigation {
	margin: 0 16px;
	background-color: #d9f5ff;
}

.link:active {
	color: #f4c905;
}

.link {
	padding: 0 16px;
	border-radius: 4px 4px 0 0;
	background-color: #ffffff;
	border-bottom: none;
	text-decoration: none;
}

.link.active {
	background-color: #12ace4;
	color: white;
}
